<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">

	<select id="getReadEmployee2" resultType="com.moviego.employee.Employee" parameterType="String">
		SELECT eidx employeeIdx, cinemaIdx, eid id, ename name, epass pass, birth, 
					grade, email, tel
		FROM employee2
		WHERE eid = #{id}
	</select>
</mapper>